In [1]:
import pandas as pd

In [8]:
import os

In [11]:
os.chdir(r'c:\\Users\\Max\\Desktop\\Ciencia de Datos\\Libro_Introduction_to_DataScience\\introduction-datascience-python-book')

In [12]:
edu = pd.read_csv(r'files\ch02\educ_figdp_1_Data.csv',
na_values = ':',
usecols = ["TIME","GEO","Value"])
edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
..    ...                            ...    ...
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]